#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  /* color: #000; */
  margin: 0;
  padding: 0;
}
body h1 {
  text-align: center;
}

.swiper {
  width: 30%;
  height: 30%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient( var(--color-bg-variant));

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*============ Media queries (meduim devices) =-========*/
@media screen and (max-width: 1024px) {
  .swiper {
    width: 60%;
    height: 60%;
  }
  }
  
  /*============ Media queries (small devices) =-========*/
  @media screen and (max-width: 600px) {
    .swiper {
      width: 60%;
      height: 60%;
    }
  }

