.menu {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.menu__container {
  text-align: center;
  height: 100%;
  position: relative;
  width: 35rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; */
}

/* .list_menu {
  background: var(--color-bg-variant);
  padding: 2.4rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
} */

.menu_image {
  width: 35rem;
  justify-content: center;
  padding: 1rem;
  right: 2.3rem;
}

/*============ Media queries (small devices) =-========*/
@media screen and (max-width: 600px) {
  .menu__container{
    width: 25rem;
  }
}