.header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =============== CTA ============= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ------------- Sip and Spin ------------*/
.sipNSpin img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 12rem 12rem 12rem 12rem;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* =============== hours ============= */
.hours {
  position: absolute;
  right: 20rem;
  bottom: 11.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

/*==================== map ==============*/
.map {
  position: absolute;
  left: 9rem;
  bottom: 11.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.map a {
  color: rgb(11, 88, 155);
}

.map a {
  color: var(--color-white);
  transition: var(--transition);
}

.map a:hover {
  color: blue;
}

/*============ Media queries (meduim devices) =-========*/
@media screen and (max-width: 1024px) {
  .header {
    height: 50vh;
  }
  .sipNSpin img {
    width: 80%;
  }

  .hours {
    display: contents;
    text-align: center;
  }

  .map {
    display: contents;
     text-align: center;
    }
  
  }
  
  /*============ Media queries (small devices) =-========*/
  @media screen and (max-width: 600px) {
  .header {
    height: 50vh;
  }

  .hours {
   display: contents;
   text-align: center;
  }

  .map {
  display: contents;
   text-align: center;
  }

  .sipNSpin img {
    width: 80%;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }
  
  }